.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 31px 120px;
    color: #fff;
    text-transform: uppercase;
    font: inherit;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    border-radius: 40px;
    background-color: #0072f0;
    outline: none;
    
    &:hover, &:focus {
        background-color: #007dff;
    }
}
