.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 31px 120px;
    color: $text-color;
    text-transform: uppercase;
    font: inherit;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    border-radius: 40px;
    background-image: $button-default;
    outline: none;

    &:hover, &:focus {
        background-image: $button-hover;
    }
}
