.menu {
    &__list {
        @include list-reset();
        display: flex;
    }

    &__link {
        text-decoration: none;
        display: block;
        padding: 10px 30px;
        outline: none;

        &:hover, &:focus {
            opacity: 0.5;
        }
    }

    &.-footer {
        position: relative;
        top: -10px;
    }
}
