.profile {
    &__avatar {
        display: block;
        width: 200px;
        margin: 0 0 77px auto;
        border-radius: 50%;

        @include tablets() {
            margin: 0 auto 50px 0;
        }

        @include phones() {
            margin: 0 auto 50px auto;
        }
    }
}
