.social {
    &__list {
        @incude list-reset();
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    &__link {
        display: block;
        height: 26px;
    }

    &__icon {
        height: 100%;
        width: auto;
        fill: rgba(255, 255, 255, 0.3);
    }
}
