sectoin.content
    .content__header
        .content__title Блок "Обо мне"
        .content__add-group
            button.btn.-group Добавить группу
    .content__body
        .skills-contoller
            form.skill-card
                .skill-card__header
                    input.input-field(type="text")
                    .skill-card__success
                    .skill-card__remove
                .skill-card__body
                .skill-card__add
                    .skill-card__add-name
                        input.input-field(type="text")
                    .skill-card__add-percent
                        input.input-field(type="text")
                    .skill-card__add-btn
                        button.btn.-add +
            .skill-card
                .skill-card__header
                    input.input-field(type="text")
                    .skill-card__success
                    .skill-card__remove
                .skill-card__body
                    table.data-table
                        tr.data-table__row
                            td.data-table__name Git
                            td.data-table__percent 20
                            td.data-table__edit
                            td.data-table__remove
                        tr.data-table__row
                            td.data-table__name Terminal
                            td.data-table__percent 65
                            td.data-table__edit
                            td.data-table__remove
                        tr.data-table__row
                            td.data-table__name Gulp
                            td.data-table__percent 79
                            td.data-table__edit
                            td.data-table__remove
                        tr.data-table__row
                            td.data-table__name Webpack
                            td.data-table__percent 80
                            td.data-table__edit
                            td.data-table__remove
                .skill-card__add
                    .skill-card__add-name
                        input.input-field(type="text")
                    .skill-card__add-percent
                        input.input-field(type="text")
                    .skill-card__add-btn
                        button.btn.-add +

        .works-contoller
            form.works-form
                .works-form__media
                    .works-form__file-area
                        .works-form__file-text Перетащите или загрузитедля загрузки изображения
                        button.btn.-load Загрузить
                .works-form__content
                    .field-group
                        label.field-group__label(for="name") Название
                        input.field-group__field(type="text" id="name" placeholder="Введите название")
                    .field-group
                        label.field-group__label(for="link") Ссылка
                        input.field-group__field(type="text" id="link" placeholder="Введите ссылку")
                    .field-group
                        label.field-group__label(for="desc") Описание
                        textarea.field-group__field(id="desc")
                    .field-group
                        label.field-group__label(for="tags") Добавленные тэги
                        input.field-group__field(type="text" id="tags")
                        ul.tags
                            li.tags__item html
                            li.tags__item css
                            li.tags__item javascript
                    .work-form__actions
                        button.btn.-cancel Отмена
                        button.btn.-save Сохранить
            .card-list
                .card-list__add
                    button.btn.-add-item Добавить работу
                .card
                    .card__header
                        img.card__image
                        .card__tags
                            .card__tags-item HTML
                            .card__tags-item CSS
                            .card__tags-item Javascript
                    .card__content
                        .card__title Сайт школы образования
                        .card__desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                        a.card__link(href="http://loftschool.ru") http://loftschool.ru
                    .card__control
                        button.btn.-edit Править
                        button.btn.-remove Удалить
        .review-contoller
            form.review-form
                .review-form__media
                    .review-form__avatar
                        div Добавить фото
                .review-form__content
                    .review-form__entry
                        .field-group
                            label.field-group__label(for="auth-name") Имя автора
                            input.field-group__field(type="text" id="auth-name" placeholder="Введите имя")
                        .field-group
                            label.field-group__label(for="auth-role") Титул автора
                            input.field-group__field(type="text" id="auth-role" placeholder="Введите ")
                    .field-group
                        label.field-group__label(for="auth-desc") Описание
                        textarea.field-group__field(id="auth-desc")
                    .work-form_ _actions
                        button.btn.-cancel Отмена
                        button.btn.-save Сохранить
            .card-list
                .card-list__add
                    button.btn.-add-item Добавить отзыв
                .card.-review
                    .card__header
                        img.card__image
                        .card__auth
                            .card__auth-name
                            .card__auth-role
                    .card__content
                        .card__desc Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                    .card__control
                        button.btn.-edit Править
                        button.btn.-remove Удалить
