header.header
    .user-block
        img.user-block__image
        .user-block__name Владимир Астаханов
        h1.user-block__title Панель администрирования
        button.user-block__logout Выйти
    nav.menu
        ul.menu__list
            li.menu__item.-active
                a.menu__link Обо мне
            li.menu__item
                a.menu__link Работы
            li.menu__item
                a.menu__link Отзывы
