header.header
    .user-block
        .user-block__container
            img.user-block__image(src="~/images/content/user.jpg")
            .user-block__name Владимир Астаханов
            .user-block__title Панель администрирования
            a.user-block__logout(href="#logout") Выйти
    nav.menu
        ul.menu__list
            li.menu__item.-active
                router-link(class="menu__link" to="/") Обо мне
            li.menu__item
                router-link(class="menu__link" to="/works") Работы
            li.menu__item
                router-link(class="menu__link" to="/reviews") Отзывы
