.skills-controller
    form.skill-card
        .skill-card__header
            input.input-field(type="text")
            .skill-card__success
            .skill-card__remove
        .skill-card__body
        .skill-card__add
            .skill-card__add-name
                input.input-field(type="text")
            .skill-card__add-percent
                input.input-field(type="text")
            .skill-card__add-btn
                button.btn.-add +
    .skill-card
        .skill-card__header
            input.input-field(type="text")
            .skill-card__success
            .skill-card__remove
        .skill-card__body
            table.data-table
                tr.data-table__row
                    td.data-table__name Git
                    td.data-table__percent 20
                    td.data-table__edit
                    td.data-table__remove
                tr.data-table__row
                    td.data-table__name Terminal
                    td.data-table__percent 65
                    td.data-table__edit
                    td.data-table__remove
                tr.data-table__row
                    td.data-table__name Gulp
                    td.data-table__percent 79
                    td.data-table__edit
                    td.data-table__remove
                tr.data-table__row
                    td.data-table__name Webpack
                    td.data-table__percent 80
                    td.data-table__edit
                    td.data-table__remove
        .skill-card__add
            .skill-card__add-name
                input.input-field(type="text")
            .skill-card__add-percent
                input.input-field(type="text")
            .skill-card__add-btn
                button.btn.-add +
