.works-controller
    form.works-form
        .works-form__header
            .works-form__title Редактирование работ
        .works-form__body
            .works-form__media
                .works-form__file-area
                    .works-form__file-text Перетащите или загрузите<br>для загрузки изображения<br>
                        button.btn.-load Загрузить
            .works-form__content
                .field-group
                    label.field-group__label(for="name") Название
                    input.field-group__field(type="text" id="name")
                .field-group
                    label.field-group__label(for="link") Ссылка
                    input.field-group__field(type="text" id="link")
                .field-group
                    label.field-group__label(for="desc") Описание
                    textarea.field-group__field(id="desc")
                .field-group
                    label.field-group__label(for="tags") Добавленные тэги
                    input.field-group__field(type="text" id="tags")
                    ul.tags
                .works-form__actions
                    button.btn.-cancel Отмена
                    button.btn.-save Сохранить
    .card-list
        .card-list__col
            .card-list__add
                .card-list__icon +
                .card-list__text Добавить<br> работу
        .card-list__col
            .card.-works
                .card__header
                    img.card__image(src="src/images/content/works/1.jpg" width="100%")
                    .card__tags
                        .card__tags-item HTML
                        .card__tags-item CSS
                        .card__tags-item Javascript
                .card__content
                    h2.card__title Сайт школы образования
                    .card__desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                    a.card__link(href="http://loftschool.ru") http://loftschool.ru
                .card__control
                    button.btn.-card-edit Править
                    button.btn.-card-remove Удалить


