section.section-about
    .container
        .section-about__wrap
            .section-about__profile
                include ../profile
            .section-about__content
                h2.section-about__title
                    .section-about__welcome.text Привет, меня зовут
                    .section-about__name Владимир Астаханов
                p.section-about__text.text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p.section-about__text-quotation.text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
