include ../menu
include ../social

footer.footer
    .container
        .footer__wrap
            .footer__owner
                .footer__copyright &copy; 2019
                .footer__site-info
                    .footer__site-name Владимир Астахов
                    .footer__site-type.text Личный сайт<br> веб-разработчика
            .footer__other
                +menu('-footer', 0)
                .footer__row
                    .footer__social-link
                        p.footer__text.text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                        +social('-footer')
                    blockquote.footer__quote
                        p.footer__quote-message.text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                        cite.footer__qoute-authtor Martin Golding

