include ../menu
include ../social

header.header
    .container
        .header__panel
            include ../logo
            +menu('-header', 0)
            +social('-header')
            button.header__hamburger
        include ../mobile-panel
