.scene-parallax
    //(style=`background-image: url(${require('images/content/scene-parallax-bg.jpg')})`)
    .scene-parallax__layer-list
        .scene-parallax__layer
        .scene-parallax__layer(data-speed="0.3")
        .scene-parallax__layer(data-speed="0.4")
        .scene-parallax__layer(data-speed="0.16")
        .scene-parallax__layer(data-speed="0.3")
        .scene-parallax__layer(data-speed="0.22")
        .scene-parallax__layer
        .scene-parallax__layer.scene-parallax__particles
        .scene-parallax__layer(data-speed="0.3")

    include header
    include welcome
    include about
