section.section-skills(style=`background-image: url(${require('images/content/skills-bg.png')})`)
    .container
        .section-skills__wrap
            .section-skills__guitar(style=`background-image: url(${require('images/content/guitar.png')})`)
            h2.section-skills__title.title Чем я могу быть полезен вам
            p.section-skills__desc.text.-black Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .section-skills__container(id="skills-component")
