.welcome
    .welcome__content
        h1.welcome__title Владимир<br> Астаханов
        h2.welcome__sub-title Личный сайт<br> веб разработчика
    .welcome__scroll
        button.welcome__scroll-btn
            .welcome__scroll-text Скролл
            +icon('scroll', 'welcome__scroll-icon')
