section.section-works
    .container
        h2.section-works__title.title Мои работы
        .section-works__content
            div(id="slider-works-component")
            //include ../slider-works
