section.section.-about
    .section__container
        .section__row
            .section__col.-left
                .user
                    +image('content/user.jpg', 'user__avatar')
                    table.user__table.table
                        thead
                            tr.table__header
                                th.table__title Проживаю
                                th.table__title Возраст
                                th.table__title Родился
                        tbody
                            tr.table__values
                                td.table__value Новосибирск
                                td.table__value 1 января 1991
                                td.table__value 27 лет
            .section__col.-right
                p.section__text Привет, меня зовут
                h2.section__title.-h2 Владимир Астаханов
                p.section__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p.section__text.-mark Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
