header.header
    .header__wrap
        .logo ВА
        +nav('menu', '-header', !{menu}, 0)
        +social('-header', !{social})
    h1.header__title Владимир Астаханов
        .header__sub-title Личный сайт веб разработчика
    .header__scroll Скролл
        +icon('scroll', 'header__scroll-icon')
