section.sectoin.-review
    .section__container
        h2.section__title Что обо мне говорят
        .sectoin__content
            .review
                .review__leaf
                    .review__leaf-prev
                        +icon('arrow-down', 'review__leaf-icon')
                    .review__leaf-next
                        +icon('arrow-down', 'review__leaf-icon')
                ul.review__list
                    li.review__item
                        blockquote.review__content
                            p.review__message Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                            .review__footer
                                .review__avatar
                                    +image('content/user.jpg', 'review__picture')
                                cite.review__author
                                    .review__name Ковальчук Дмитрий
                                    .review__role Основатель Loftschool
                    li.review__item
                        blockquote.review__content
                            p.review__message Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                            .review__footer
                                .review__avatar
                                    +image('content/user.jpg', 'review__picture')
                                cite.review__author
                                    .review__name Владимир Сабанцев
                                    .review__role Преподаватель
        h3.section__title Связаться со мной
        .section__content
            form.form
                .form__group
                    label.form__lable(for="name") Введите ваше имя
                    input.form__field(type="text" id="name")
                .form__group
                    label.form__lable(for="email") Введите ваше email
                    input.form__field(type="text" id="email")
                .form__group.-full
                    label.form__lable(for="message") Сообщение к письму
                    input.form__field(type="text" id="message")
                button.btn.-send Отправить
