section.section.-skills
    .section__container
        h2.section__title Чем я могу быть полезен вам
        p.section__desc Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .skill
            h3.skill__title Front-end
            ul.skill-list
                li.skill__item HTML5
                li.skill__item CSS3
                li.skill__item Javascript
                li.skill__item Jquery и Vul.js
        .skill
            h3.skill__title Workflow
                ul.skill-list
                li.skill__item GIT
                li.skill__item Terminal
                li.skill__item Gulp
                li.skill__item Webpack
