section.section.-works
    .section__container
        h2.section__title Мои работы
        .slider
        .slider__row
            .slider__col.-left
                ul.slider__list
                    li.slider__item
                        +image('content/user.jpg', 'slider__picture')
                    li.slider__item
                        +image('content/user.jpg', 'slider__picture')
                    li.slider__item
                        +image('content/user.jpg', 'slider__picture')
                .slider__nav
                    .slider__nav-item
                        +image('content/user.jpg', 'slider__thumbs')
                    .slider__nav-item
                        +image('content/user.jpg', 'slider__thumbs')
                    .slider__nav-item
                        +image('content/user.jpg', 'slider__thumbs')
            .slider__col.-right
                .slider__tags
                .slider__title
                .slider__desc
                a.link(href="#") Посмотреть сайт
