include ../../../mixins
-
    var sliderWorks = [
    {
    picture: 'content/works/1.jpg',
    thumb: 'content/works/1.jpg',
    title: 'Сайт школы образования',
    desc: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!',
    link: '#',
    tags: ['HTML', 'CSS', 'javascript']
    }
    ];

    var sliderThumbs = [
    'content/works/1.jpg',
    'content/works/2.jpg',
    'content/works/3.jpg',
    'content/works/4.jpg',
    'content/works/5.jpg',
    ]

script(type="text/x-template" id="slider-works")
    .slider-works
        .slider-works__list
            li(class="slider-works__item -active" :data-slider-number="currSlideIndex + 1")
                .slider-works__view
                    img(:src="`https://webdev-api.loftschool.com/${currWork.photo}`" class="slider-works__picture")
                    .slider-works__controls
                        .slider-works__toggle-list-wrap
                            ul.slider-works__toggle-list
                                li(:class="`slider-works__toggle-item ${index === currSlideIndex ? '-active' : ''}`" v-for="(slide, index) in slideList")
                                    button.slider-works__toggle-btn(@click="changeSlide(index)")
                                        img(:src="`https://webdev-api.loftschool.com/${slide.photo}`" class="slider-works__thumbs")
                        .slider-works__leaf
                            button.slider-works__leaf-btn.-next(@click="nextSlide()")
                                +icon('arrow-down', 'slider-works__icon-point')
                                span.visually-hidden Следующий
                            button.slider-works__leaf-btn.-prev(@click="prevSlide()")
                                +icon('arrow-down', 'slider-works__icon-point')
                                span.visually-hidden Предыдущий
                .slider-works__content
                    .slider-works__tags
                         .slider-works__tag(v-for="tag in []" v-html="tag")
                    h3.slider-works__title.title(v-html="currWork.title")
                    p.slider-works__desc.text-black(v-html="currWork.description")
                    a.slider-works__link(:href="currWork.link")
                        +icon('link', 'slider-works__icon-link')
                        .link Посмотреть сайт
