-
    const social = [
        {
            link: '#insta',
            icon: 'insta'
        },
        {
            link: '#vk',
            icon: 'vk'
        },
        {
            link: '#github',
            icon: 'github'
        }
    ];

    const menu = [
        'Главная',
        'Обо мне',
        'Навыки',
        'Работы',
        'Отзывы',
        'Связаться'
    ];
