mixin skill-list(title, skills)
    .skill-list
        h3.skill-list__title #{title}
        ul.skill-list__collection
            each skill, i in skills
                li.skill-list__item
                    .skill-list__text #{skill.name}
                    svg.skill-list__svg(viewBox="0 0 100 100" preserveAspectRatio="none")
                        linearGradient#linear(x1="0%" y1="0%" x2="100%" y2="0%")
                            stop(offset="0%" stop-color="#0089f2")
                            stop(offset="100%" stop-color="#003dea")
                        circle(cx=50 cy=50 r=44 class="skill-list__circle -under")
                        circle(cx=50 cy=50 r=44 stroke="url(#linear)" class="skill-list__circle -above" style=`animation-delay:-${skill.percent}s`)

