.field-group {
    margin-bottom: 25px;
    font-size: 16px;
    color: #414c63;

    &__label {
        display: block;
        opacity: 0.5;
    }

    &__field {
        display: block;
        width: 100%;
        font: inherit;
        padding: 15px 0 12px 0;
        border: none;
        border-bottom: 1px solid #000;
        background-color: transparent;
    }
}
