.input-field {
    display: block;
    width: 100%;
    padding: 5px 0;
    color: #414c63;
    font: inherit;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    outline: none;

    &.-title {
        width: 275px;
        font-weight: bold;

        @include tablets() {
            width: 170px;
        }
    }

    &.-percent {
        padding-right: 25px;
    }
    
    &::placeholder {
        color: rgba(#414c63, 0.51);
    }
}
