include ./mixins
include ./pug/data/main

<!DOCTYPE html>
html(lang="")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    include pug/sections/header
    main
      include pug/sections/about
      include pug/sections/skills
      include pug/sections/works
      include pug/sections/about
    include pug/sections/footer
