include ./mixins

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    include pug/components/sections/scene-parallax
    main
      include pug/components/sections/skills
      include pug/components/sections/works
      include pug/components/sections/drum-parallax
    include pug/components/sections/footer
    include pug/vue-templates
